.add-trip {
    position: sticky;
    bottom: 20.9px;
    left: 50%;
    transform: translateX(-50%);
    height: 54.17px;
    width: 54.17px;
    margin-top: 26.4px;
    border-radius: 50%;
    background-color: #fff;
}
