@mixin padding($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    padding: $top $right $bottom $left;
    -webkit-padding-before: $top;
    -webkit-padding-end: $right;
    -webkit-padding-after: $bottom;
    -webkit-padding-start: $left;
}

.calendar-trip {
    color: #4f4f4f;
    height: 100%;
    .calendar {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        position: relative;
        .calendar-arrow {
            position: absolute;
            pointer-events: none;
            z-index: 1;
            top: 28px;
            width: 25px;
            height: 25px;
            .calendar-arrow-left {
                background: #fff;
                position: absolute;
                left: -68px;
                .calendar-line {
                    position: absolute;
                    width: 51px;
                    height: 3px;
                    z-index: 1;
                    top: 11px;
                    background: linear-gradient(
                        270deg,
                        #f2b19a 0.98%,
                        #fee8cf 100%
                    );
                    border-radius: 0px 10px 10px 0px;
                    left: -56px;
                }
            }
            .calendar-arrow-right {
                background: #fff;
                position: absolute;
                left: 68px;
                .calendar-line {
                    position: absolute;
                    width: 51px;
                    height: 3px;
                    z-index: 1;
                    top: 11px;
                    background: linear-gradient(
                        90deg,
                        #f2b19a 0.98%,
                        #fee8cf 100%
                    );
                    border-radius: 10px 0px 0px 10px;
                    right: -56px;
                }
            }
        }
    }
    .state {
        display: flex;
        position: fixed;
        align-items: center;
        bottom: 16.16px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        .day {
            pointer-events: none;
            display: flex;
            font-size: 14px;
            line-height: 23px;
            transition: 1s;
            -webkit-transition: 1s;
            margin-right: 36px;
            .days-count {
                @include padding(0, 4.5px, 0, 4.5px);
                display: inline-block;
                text-align: center;
                color: #fff;
                min-width: 23px;
                height: 23px;
                border-radius: 50%;
                margin-right: 7px;
                background-color: #f2b099;
            }
        }
        .start-trip-btn {
            cursor: pointer;
            font-size: 12px;
            border-radius: 5px;
            width: 106px;
            height: 28px;
            text-align: center;
            line-height: 26px;
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
            color: #fff;
            transition: 0.5s background;
            -webkit-transition: 0.5s background;
            &.active {
                background: #f2b099;
            }
            &.inactive {
                background: #d0d0d0;
                pointer-events: none;
            }
        }
    }
}
button.DayPickerKeyboardShortcuts_buttonReset {
    display: none;
}
.DateInput {
    width: 69.5px;
    .DateInput_input {
        cursor: pointer;
        @include padding(0, 0, 0, 0);
        text-align: center;
        font-size: 12px;
        height: 21px;
        border: 1px solid #e8e8e8;
        &#startDate {
            border-radius: 5px 0 0 5px;
        }
        &#endDate {
            border-radius: 0 5px 5px 0;
        }
    }
}
.DateInput_input__focused {
    border: none !important;
    background-color: #fcbba4;
    color: #fff;
    &::placeholder {
        color: #fff !important;
    }
}
.DateRangePickerInput {
    border: none;
}
.DateInput_fang.DateInput_fang_1 {
    display: none;
}
.DateRangePickerInput_arrow.DateRangePickerInput_arrow_1 {
    display: none;
}
.DayPickerNavigation_leftButton__horizontalDefault {
    left: 52px;
}
.DayPickerNavigation_rightButton__horizontalDefault {
    right: 52px;
}
.DayPickerNavigation_button__horizontalDefault {
    border: none;
    background: none;
    &:hover {
        border: none;
        background: none;
    }
    top: -9px;
}
.DateRangePicker_picker {
    z-index: 0;
    top: 34px !important;
    left: -65px !important;
}
.DayPicker_transitionContainer {
    height: 200px !important;
}
.CalendarDay {
    @include padding(0, 0, 0, 0);
    font-size: 12px;
    // line-height: 28px;
    // width: 32px !important;
    // height: px !important;
    border: none;
    outline: none;
    &:hover {
        background-color: #ffe5db;
        border: none;
    }
}

.CalendarDay__outside,
.CalendarDay__blocked_out_of_range {
    color: #e7e7e7;
    &:focus {
        outline: none;
    }
}
.CalendarMonth {
    position: relative;
    top: -26px;
}
.CalendarMonth_caption {
    position: relative;
    color: #4f4f4f;
    text-transform: uppercase;
    font-size: 14px;
    @include padding(22px, 0, 25px, 0);
    strong {
        font-weight: normal;
    }
}

.DayPicker_weekHeader {
    top: 19px;
    // left: 18px !important;
    ul {
        font-size: 12px;
        li {
            // width: 32px !important;
            text-transform: lowercase;
            color: #b0b0b0;
        }
    }
}
.DayPicker__withBorder {
    box-shadow: none;
}
.CalendarDay__selected,
.CalendarDay__selected_span,
.CalendarDay__selected_start,
.CalendarDay__selected_end,
.CalendarDay__selected_start.CalendarDay__selected_end {
    outline: none;
    background: #f2b099;
    &:hover {
        border: none;
        background: #f2b099;
    }
}
.CalendarDay__selected,
.CalendarDay__selected_start {
    border-radius: 50%;
}
.CalendarDay__selected_start[tabindex='0'],
.CalendarDay__selected_start[tabindex='-1'] {
    border-radius: 50% 0 0 50%;
}
.CalendarDay__selected_end {
    border-radius: 0 50% 50% 0;
}
.CalendarDay__selected_start.CalendarDay__selected_end {
    border-radius: 50% !important;
    border: none !important;
}
