.contact {
    // border: 1px solid black;
    height: 63px;
    .container {
        display: flex;
        justify-content: center;
        margin-top: 14px;
        #phone {
            margin-right: 26px;
        }
        #facebook {
            margin-right: 23px;
        }
        #instagrame {
        }
    }
}
