.add-btn {
    position: fixed;
    bottom: 20.9px;
    left: 50%;
    transform: translateX(-50%);
}
.plan-maker {
    &.popup {
        z-index: 1;
        transition: 0.5s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(45, 32, 27, 0.73);

        .create-trip.popup {
            border-radius: 10px;
            width: 275px;
            height: 330px;
            background-color: #fff;
        }
    }
    .create-trip {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        background-color: white;
        height: 0px;
        transition: 0.5s background 0.3s;
    }
}
