.explore {
    height: 292px;
    .explore-title {
        margin-bottom: 13px;
        margin-left: 39px;
        img {
            margin-top: -8px;
        }
        p {
            font-size: 20px;
            display: inline;
            margin-left: 11px;
        }
    }

    .explore-card {
        width: 300px !important;
        display: flex !important;
        flex-direction: column;
        margin: auto;
        height: 224px;
        background: linear-gradient(to bottom, #f3bca6, #ffe9cf 83%) border-box;
        border: 4px solid transparent;
        border-radius: 15px;
        box-sizing: border-box;
        img {
            border-radius: 12px 12px 0px 0px;
            height: 170px;
            width: 292px;
            object-fit: cover;
        }
        .box-title {
            background-color: white;
            border-radius: 0px 0px 12px 12px;
            .title {
                margin-top: 7px;
                margin-left: 18px;
                font-size: 14px;
            }
            .subtitle {
                margin: -17px 0px 5px 18px;
                font-size: 11px;
                color: #c5c5c5;
            }
        }
    }
    .slick-dots li {
        width: 6px !important;
        line-height: 14px !important;
        &.slick-active button:before {
            opacity: 10;
            color: #f3bca6;
        }
    }
}
