$fade-color: linear-gradient(
    to bottom,
    transparent,
    #ffffff 36%,
    white 50%,
    white 70%,
    white 100%
);

.facilities {
    height: 127px;
    .subject {
        height: 18px;
        margin-top: 14px;
        margin-left: 39px;
        color: #707070;
    }
    .facility-list {
        height: 102px;
        margin-top: 16px;
        margin-left: 42.8px;
        display: grid !important;
        grid-template-columns: 129.9px 160px;
        grid-template-rows: 15px 15px 15px 15px 15px;
        grid-column-gap: 50px;
        grid-row-gap: 11px;
        .facility-box {
            display: flex;
            flex-direction: row;
            .facility-title {
                margin-left: 9px;
                font-size: 11px;
                color: #707070;
                &.inactive {
                    color: #b0b0b0;
                    text-decoration: line-through;
                    text-decoration-line: 1.36px;
                }
            }
        }
    }
    .background {
        margin-top: -100px;
        height: 80px;
        width: 100%;
        display: inline-table;
        background-image: $fade-color;
        &.show {
            background-image: none;
        }
    }
    .arrow-show {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        margin-top: -60px;
        margin-left: 190px;
        p {
            margin-bottom: 0px;
            font-size: 9px;
            color: #c0c0c0;
        }
        &.active {
            margin-top: 0px;
        }
    }
}
