@mixin padding($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    padding: $top $right $bottom $left;
    -webkit-padding-before: $top;
    -webkit-padding-end: $right;
    -webkit-padding-after: $bottom;
    -webkit-padding-start: $left;
}

.favourites-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7.5%;
    .fav-card {
        position: relative;
        display: flex;
        height: 97px;
        width: 100%;
        margin: 20px 0;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.616);
        -webkit-box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.616);
        -moz-box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.616);
        .thumbnail-card {
            width: 115px;
            img {
                width: 115px;
                height: 100%;
                border-radius: 5px 0 0 5px;
                object-fit: cover;
            }
            &.skeleton {
                height: 100%;
                border-radius: 5px 0 0 5px;
                background: #e0e0e0;
            }
        }
        .detail-card {
            flex-grow: 1;
            width: 49.1%;
            background-color: #fff;
            @include padding(9px, 9px, 7px, 13px);
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title-card {
                width: 100%;
                font-size: 15px;
                color: #4f4f4f;
                white-space: nowrap;
                overflow: hidden;
                &.fade::after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    width: 35px;
                    height: 22px;
                    background: linear-gradient(
                        to left,
                        #fff 10px,
                        transparent
                    );
                }
            }
            .sub-detail {
                display: flex;
                flex-direction: column;
                .ant-skeleton-title {
                    height: 10px;
                    width: 140px;
                }
                span {
                    display: block;
                    color: #d0d0d0;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: capitalize;
                }
                .location-card .ant-skeleton-title {
                    margin-bottom: 4px;
                }
                .rate-card {
                    margin-top: 4px;
                    display: inline-flex;
                    .rate-star {
                        display: flex;
                        margin-right: 7px;
                    }
                }
            }
        }
        .remove-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: #d0d0d0bd;
            position: absolute;
            border-radius: 5px 0 5px;
        }
        .add-card {
            display: flex;
            position: absolute;
            bottom: 11.5px;
            right: 12.4px;
        }
        .add-card svg,
        .remove-card svg {
            pointer-events: none;
        }
        .ant-skeleton-title {
            margin-top: 0;
        }
    }
}
