.favourites-cards {
    position: relative;
    .fav-card {
        position: relative;
        display: flex;
        height: 97px;
        width: 320px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.616);
        // -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        .thumbnail-card {
            img {
                width: 115px;
                height: 100%;
                border-radius: 5px 0 0 5px;
            }
        }
        .detail-card {
            width: 100%;
            background-color: #fff;
            padding: 9px 9px 7px 13px;
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title-card {
                font-size: 15px;
                color: #4f4f4f;
            }
            .sub-detail {
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    color: #d0d0d0;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: capitalize;
                }
                .rate-card {
                    margin-top: 4px;
                    display: inline-flex;
                    .rate-star {
                        display: flex;
                        margin-right: 7px;
                    }
                }
            }
        }
        .remove-card {
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: #d0d0d0;
            opacity: 0.7;
            position: absolute;
            border-radius: 5px 0 5px;
        }
        .add-card {
            pointer-events: none;
            display: flex;
            position: absolute;
            bottom: 11.5px;
            right: 12.4px;
        }
    }
}
