.image-slider {
    position: relative;
    border: 1px solid black;
    padding: 22px 0 25px 41px;

    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
    .image-focus {
        display: inline-block;
        border: 4px solid white;
        border-radius: 10px;
        height: 184px;
        // margin-bottom: 10px;
        position: relative;
        .img {
            width: 286px;
            height: 100%;
            position: absolute;
            opacity: 0;
            &.active {
                -webkit-transition: opacity 1s;
                -moz-transition: opacity 1s;
                -o-transition: opacity 1s;
                transition: opacity 1s;
                opacity: 1;
            }
        }
    }
    .images-container {
        display: flex;
        overflow: auto;
        .image-contain {
            margin: auto;
            margin-right: 10px;
            display: table;
            img {
                width: 81px;
                height: 54px;
                border-radius: 2px;
            }
            &.focus {
                margin-right: 6px;
                border: 4px solid #fcb8a1;
                border-radius: 2px;
            }
        }
        &::after {
            content: '';
            border: 14px solid white;
        }
    }
}
