.image-slider {
    position: relative;
    padding: 18px 0 25px;
    // padding: 18px 0 25px 37px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    ::-webkit-scrollbar {
        display: none;
    }
    .slider-bg {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: -49px;
        left: 0;
    }
    div {
        display: flex;
        flex-direction: column;
        .image-focus {
            align-self: center;
            border: 6px solid white;
            border-radius: 10px;
            height: 196px;
            width: 298px;
            position: relative;
            margin-bottom: 4px;
            .img {
                object-fit: cover;
                border-radius: 6px;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0;
                &.active {
                    -webkit-transition: opacity 0.5s;
                    -moz-transition: opacity 0.5s;
                    -o-transition: opacity 0.5s;
                    transition: opacity 0.5s;
                    opacity: 1;
                }
            }
        }
        .images-container {
            display: inline-flex;
            flex-direction: row;
            overflow: auto;
            height: 70px;
            padding: 0 37px;
            .image-border {
                display: flex;
                margin: auto 5px;
                img {
                    width: 81px;
                    height: 54px;
                    border-radius: 2px;
                    object-fit: cover;
                }
                &.focus {
                    margin: auto 1px;
                    border: 4px solid #fcb8a1;
                    border-radius: 4px;
                    -webkit-box-shadow: 1px 1px 6px -1.5px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 1px 1px 6px -1.5px rgba(0, 0, 0, 0.4);
                    box-shadow: 1px 1px 6px -1.5px rgba(0, 0, 0, 0.4);
                }
            }
            &::after {
                content: '';
                border: 18.5px solid transparent;
            }
        }
    }
}
