.info-place {
    border: 1px solid black;
    padding: 0 30px;

    .info-border {
        border-radius: 15px;
        border: solid 5px #f2f2f2;
        margin-top: 15px;
        padding-bottom: 15px;

        hr {
            width: 200px;
            height: 2px;
            border: transparent;
            border-radius: 2px;
            background-color: #e8e8e8;
        }

        .title {
            display: table;
            padding: 0px 8px;
            font-size: 20px;
            margin: -15px 0px 0px 15px;
            background-color: white;
            color: #4f4f4f;
        }

        .description {
            margin: 4px 0px 0px 33px;
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.24px;
            .subtitle {
                display: flex;
                align-items: center;
                color: #989898;
                p {
                    margin-bottom: 0px;
                }
                .dot {
                    margin-left: 5px;
                    height: 2px;
                    width: 2px;
                    background-color: #989898;
                }
                .price {
                    margin-left: 5px;
                    img {
                        height: 10px;
                    }
                }
            }
            .details {
                color: #707070;

                .show-remaining {
                    transition: opacity 240ms ease;
                }

                .show-remaining--hide {
                    display: none;
                }

                .show-more {
                    left: 208px;
                    width: 108px;
                    display: inline-table;
                    text-align: right;
                    position: absolute;
                    @extend .show-less;
                    background-image: linear-gradient(
                        to right,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 1),
                        rgba(255, 255, 255, 1),
                        rgba(255, 255, 255, 1),
                        white
                    );

                    img {
                        margin-left: 3px;
                        height: 12px;
                        width: 12px;
                    }
                }
                .show-less {
                    text-align: end;
                    margin-right: 30px;
                    font-size: 9px;
                    line-height: 2.22;
                    letter-spacing: 0.18px;
                    color: #c0c0c0;
                }
            }
        }
    }
}
