$fade-color: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    white
);

.info-place {
    padding: 0 30px 14px;

    .info-border {
        border-radius: 15px;
        border: solid 5px #f2f2f2;
        margin-top: 15px;
        padding-bottom: 2px;

        hr {
            margin: 17px auto;
            width: 200px;
            height: 2px;
            border: transparent;
            border-radius: 2px;
            background-color: #e8e8e8;
        }

        .title {
            display: table;
            padding: 0px 10px;
            font-size: 20px;
            margin: -15px 14px 0px;
            background-color: white;
            color: #4f4f4f;
        }

        .description {
            padding: 4px 0px 0px 33px;
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.24px;
            .subtitle {
                display: flex;
                align-items: center;
                color: #989898;
                p {
                    margin-bottom: 0px;
                }
                .dot {
                    margin-left: 5px;
                    height: 2px;
                    width: 2px;
                    background-color: #989898;
                }
                .price {
                    margin-top: -1px;
                    margin-left: 5px;
                    img {
                        height: 10px;
                    }
                }
            }
            .details {
                color: #707070;
                padding-right: 18px;
                display: flex;
                flex-direction: column;

                .remaining {
                    display: block;
                    animation: fade-in 500ms;

                    &.hide {
                        display: none;
                    }
                }

                .show-less {
                    align-self: flex-end;
                    text-align: end;
                    font-size: 9px;
                    line-height: 2.22;
                    letter-spacing: 0.18px;
                    color: #c0c0c0;

                    img {
                        margin-left: 3px;
                        height: 12px;
                        width: 12px;
                    }
                }

                .show-more {
                    @extend .show-less;
                    margin-top: -19px;
                    width: 108px;
                    background-image: $fade-color;
                }
            }
            .search-tag {
                display: flex;
                flex-wrap: wrap;
                padding-right: 30px;

                .tag {
                    margin-top: 9px;
                    margin-right: 9.2px;
                    padding: 0px 7px;
                    border-radius: 5px;
                    font-size: 11px;
                    color: #fff;
                    background-color: #fcbba4;
                }
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
