.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 22.8px;
    z-index: 1;
    &.default {
        background-image: linear-gradient(to right, #ffecd2, #fcb69f);
    }
    &.planners {
        background-image: linear-gradient(346deg, #fcbfaa, #ffecd2);
    }
    &.planners-page {
        background: transparent;
        height: 73px;
        display: grid;
        grid-template-columns: 50px 6fr 70px;
        align-content: center;
        padding: 0;

        .back-home {
            margin: 0;
        }

        .tools-navbar {
            display: grid;
            grid-template-columns: 60px 60px 10fr;

            img:first-child {
                margin-right: 16px;
            }
            img:last-child {
                justify-self: self-end;
            }
        }

        span {
            grid-column-start: 3;
            grid-row-start: 1;
            margin-right: 22px;
            margin-left: 16px;
        }
    }
    a {
        text-decoration: none;
        color: #fcb8a0;
    }

    span {
        margin-left: 24px;
    }

    .button-mytrips {
        padding: 0px 8px;
        width: 77px;
        height: 24px;
        border-radius: 7px;
        background-color: #ffffff;
        border: none;
        font-size: 12px;
        color: #fcb8a0;
        display: flex;

        &.planners {
            display: none;
        }

        &.planners-page {
            display: none;
        }

        justify-content: space-around;
        align-items: center;

        img {
            margin-right: 4px;
        }
        &.planners {
            display: none;
        }
    }

    .sidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        &.active {
            width: 298px;
        }
    }

    .container-sidenav {
        transition: 1s background;
        display: none;
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.73;
        &.active {
            display: block;
        }
    }

    .back-home {
        margin-right: auto;
        img {
            display: table;
            height: 18px;
            margin: auto;
            filter: drop-shadow(2px 2px 2.5px rgba(114, 114, 114, 0.37));
        }
    }
}

.blank-navbar {
    height: 51px;
    background-color: transparent;
}
