.nav-bar{
    height: 51px;
    border: 1px solid rgb(196, 196, 196); // mark component ,you can remove this line when finish or any time 
    background-image: linear-gradient(to right, #ffecd2, #fcb69f);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.airplane-icon{
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-bottom: 7px;
}
.string-mytrip{
    width: 47px;
    height: 15.7px;
    margin-bottom: 4.15px;
}
 .menu {
    margin-right:22.8px;
    margin-left:24px;
}
  .button-mytrip {
    width: 77px;
    height: 24px;
    border-radius: 7px;
    border: solid 2px#ffffff;
    background-color: #ffffff;
    font-size: 12px;
    color: #fcb8a0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 