.not-found-page {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .background {
        margin-top: 27.5px;
    }
    .title {
        margin-top: 50.1px;
        font-size: 16px;
        .title1 {
            color: #4f4f4f;
            margin-bottom: 0px;
        }
        .title2 {
            color: #b0b0b0;
            margin-left: 7px;
        }
    }
    .explore-button {
        width: 129px;
        height: 44px;
        margin-top: 39px;
        border-radius: 10px;
        border: none;
        background-color: #fcb69f;
        color: #fff;
        .button {
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // margin-left: 6px;
            .paperairplane-icon {
                margin-right: 12px;
                align-self: center;
            }
            .explore-title {
                font-size: 20px;
                margin-top: -4px;
                margin-bottom: 0px;
                // padding: 8px;
            }
        }
    }
}
