.planners-board {
    position: relative;
    padding: 20px 30px 0 27px;
    box-sizing: border-box;
    flex-grow: 1;
    .title {
        display: flex;
        margin-bottom: 17px;
        span {
            font-size: 20px;
            color: #4f4f4f;
            margin-left: 8px;
        }
    }
    .planner {
        width: 100%;
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 5px;
        background-clip: padding-box;
        background-color: #fff;
        &::after {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
            background: linear-gradient(to right, #fee5cc, #fcb69f 80%);
            border-radius: 7px;
            content: '';
            z-index: -1;
        }
        .content {
            padding: 10.1px 0 12.37px 22px;
            border-radius: 5px 0;
            .name {
                color: #4f4f4f;
                font-size: 16px;
                margin-bottom: 4px;
            }
            .date {
                display: flex;
                color: #989898;
                img {
                    margin: 2px 9.3px auto 0;
                }
            }
        }
        .btn-detail {
            width: 60px;
            background-color: #fcb69f;
            position: relative;
            border-radius: 0 4.5px 4.5px 0;
            cursor: pointer;
            img {
                pointer-events: none;
                position: absolute;
                top: 50%;
                left: 17px;
                transform: translateY(-50%);
            }
            &:hover {
                background-color: #fdbea9;
            }
            &::after {
                content: '';
                width: 28px;
                height: 28px;
                background-color: #fff;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                right: -17px;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
    }
    .blank-board {
        .text {
            width: 143px;
            font-size: 20px;
            color: #b0b0b0;
            text-align: center;
            line-height: normal;
            position: fixed;
            bottom: 136.5px;
            left: 50%;
            transform: translateX(-50%);
        }
        img {
            position: fixed;
            bottom: 67.17px;
            left: 50%;
            transform: translateX(-200%);
        }
    }
}
