.search-page {
    .search-background {
        background: url('../img/fixed-background.svg') no-repeat;
        background-size: 87.7% auto;
        background-position: bottom left;
        background-attachment: fixed;
    }
}
