$font-color: #4f4f4f;
$transition-box: all 0.2s linear;

.search {
  margin: 13px 37px 14px;
  position: relative;

  .input {
    height: 31px;
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.22);
    display: flex;
    align-items: center;

    img {
      margin-left: 12px;
    }

    input {
      margin: auto 10px;
      background: transparent;
      width: 100%;
      font-size: 14px;
      border: none;
      outline: none;
      color: $font-color;

      &::placeholder {
        color: #b0b0b0;
      }
    }
  }

  .search-box {
    transition: $transition-box;
    position: absolute;
    width: 267px;
    height: 219.9px;
    z-index: 100;
    padding: 17px;
    background: transparent;
    &.open {
      margin: 17.1px auto;
      border-radius: 6px;
      background: #ffffff;
      box-shadow: 1px 1px 7px rgb(151, 151, 151);
    }

    &::before {
      transition: 0.5s background ease-out;
      content: "";
      top: -8px;
      left: 30px;
      width: 21px;
      height: 21px;
      position: absolute;
      transform: rotate(45deg);
      background-color: transparent;
    }

    &::after {
      transition: 0.5s background ease-out;
      content: "";
      top: 0;
      left: 20px;
      width: 40px;
      height: 20px;
      position: absolute;
      background-color: transparent;
    }

    &.open::before {
      transition: $transition-box;
      box-shadow: 1px 1px 7px rgb(151, 151, 151);
      background-color: #ffffff;
    }

    &.open::after {
      transition: $transition-box;
      background: #ffffff;
    }

    .search-area {
      height: 100%;
      display: flex;
      flex-direction: column;
      .search-category {
        font-size: 11px;
        color: $font-color;
        border-bottom: 1px solid #e7e7e7;

        .search-tag {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 10px;

          .tag {
            color: #fff;
            background-color: #fcbba4;
            border-radius: 5px;
            padding: 2px 7px;
            margin: 0 12px 12px 0;
          }
        }
      }

      .search-history {
        display: block;
        margin: auto;
        font-size: 20px;
        color: #dbdbdb;
      }
    }
  }
}
