$transition-box: all 0.2s linear;

.search-filter {
  position: relative;
  padding: 14px 37px;
  .search-bar {
    position: relative;
    display: flex;
    .search {
      position: static;
      width: 100%;
      margin: 0 11px 0 0;
      padding: 0;
    }
  }
  .filter-box {
    padding: 17px;
    border-radius: 6px;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: $transition-box;
    width: 100%;
    font-size: 12px;
    &.open {
      margin: 19px 0;
      box-shadow: 1px 1px 7px rgb(151, 151, 151);
      transition: $transition-box;
      background: #ffffff;
      &::after {
        background: #ffffff;
        transition: $transition-box;
      }
      &::before {
        background-color: #ffffff;
        box-shadow: 1px 1px 7px rgb(151, 151, 151);
        transition: $transition-box;
      }
      .sort {
        margin-bottom: 4.2px;
        .head {
          display: flex;
          justify-content: space-between;
          span span {
            color: #b0b0b0;
            margin-right:6px;
          }
        }
        .sortby {
          margin: 10.8px 0;
          display: inline-flex;
          text-align: center;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          div {
            width: 67px;
            height: 17px;
            border-right: 1px solid #e8e8e8;
          }
          div:nth-last-child(1) {
            border-right: none;
          }
        }
      }
      .category {
        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 9px;
          .tag {
            font-size: 11px;
            margin: 8px 10px 0 0;
            display: flex;
            padding: 2px 5px;
            color: #fff;
            border-radius: 5px;
            background-color: #fcbba4;
            div {
              margin: auto 5px auto 0;
              margin-right: 5px;
            }
          }
          .search {
            margin: 10px 0 0 0;
          }
        }
      }
      .line{
        height: 1px;
        background-color:#e7e7e7;
        margin:0;
      }
      .hour {
        margin: 12px 0;
      }
      .rating {
        display: flex;
        .head {
          margin: auto 0;
        }
        .favs {
          display: flex;
          padding: 0 5px;
          .fav {
            margin: 0 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fcbba4;
            color: #fcbba4;
            border-radius: 3px;
            width: 29px;
            height: 21px;
            span {
              margin-right: 2px;
            }
          }
        }
      }
    }
    &::before {
      width: 15px;
      height: 15px;
      content: "";
      position: absolute;
      top: -6.5px;
      right: 7px;
      background-color: transparent;
      transform: rotate(45deg);
      transition: 0.5s background ease-out;
    }
    &::after {
      width: 30px;
      height: 20px;
      content: "";
      position: absolute;
      top: 0px;
      right: 1px;
      border-radius: 6px;
      background-color: transparent;
      transition: 0.5s background ease-out;
    }
  }
}
