.search-filter {
  position: relative;
  padding: 14px 43px 19px;
  .search-bar {
    position: relative;
    display: flex;
    .search {
      position: static;
      width: 100%;
      margin: 0 11px 0 0;
      padding: 0;
    }
  }
  .filter-box {
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    transition: 0.2s all linear;
    &::before {
      width: 15px;
      height: 15px;
      content: "";
      position: absolute;
      top: -6.5px;
      right: 7px;
      background-color: transparent;
      transform: rotate(45deg);
      transition: all linear;
    }
    &::after {
      width: 30px;
      height: 20px;
      content: "";
      position: absolute;
      top: 0px;
      right: 1px;
      border-radius: 6px;
      background-color: transparent;
      transition: all linear;
    }
    &.open {
      margin: 19px 0 0;
      box-shadow: 1px 1px 7px rgb(151, 151, 151);
      transition: 0.2s all linear;
      background: #ffffff;
      &::after {
        background: #ffffff;
        transition: all linear;
      }
      &::before {
        background-color: #ffffff;
        box-shadow: 1px 1px 7px rgb(151, 151, 151);
        transition: all linear;
      }
      .filters {
        padding: 17px 17px 0 17px;
        .sort {
          margin-bottom: 4.2px;
          .head {
            display: flex;
            justify-content: space-between;
            span {
              span {
                color: #b0b0b0;
                margin-right: 6px;
              }
              span,
              img {
                pointer-events: none;
              }
            }
          }
          .sortby {
            margin: 10.8px 0;
            display: inline-flex;
            .head-sort {
              width: 67px;
              height: 19px;
              border: 1px solid #e8e8e8;
              border-right: none;
              text-align: center;
              line-height: normal;
              &:nth-child(1) {
                border-radius: 5px 0 0 5px;
              }
              &:nth-last-child(1) {
                border-radius: 0 5px 5px 0;
                border-right: 1px solid #e8e8e8;
              }
              &.active {
                color: #fff;
                background-color: #fcbba4;
                border-color: #fcbba4;
              }
            }
          }
        }
        .category {
          .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 9px;
            .tag {
              font-size: 11px;
              margin: 8px 10px 0 0;
              display: flex;
              padding: 2px 5px;
              color: #fff;
              border-radius: 5px;
              background-color: #fcbba4;
              div {
                margin: auto 5px auto 0;
                margin-right: 5px;
              }
            }
            .search {
              margin: 10px 0 0 0;
            }
          }
        }
        .line {
          height: 1px;
          background-color: #e7e7e7;
          margin: 0;
        }
        .rating {
          display: flex;
          margin-bottom: 19px;
          .head {
            margin: auto 0;
          }
          .all-fav {
            display: flex;
            padding: 0 5px;
            .fav {
              margin: 0 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #fcbba4;
              color: #fcbba4;
              border-radius: 3px;
              width: 29px;
              height: 21px;
              span {
                pointer-events: none;
                margin-right: 2px;
              }
              img {
                pointer-events: none;
              }
              &.active {
                border-color: #e7e7e7;
                color: #e7e7e7;
              }
            }
          }
        }
      }
      .handle-filters {
        display: flex;
        height: 33px;
        .apply,
        .cancel {
          font-size: 15px;
          line-height: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        .cancel {
          border-top: 1px solid #e7e7e7;
        }
        .apply {
          color: #fff;
          background-image: linear-gradient(to bottom, #fcb79f, #ffebd1);
        }
      }
    }
  }
}
