.SearchResult {
    div {
        .card {
            width: 315px;
            height: 106px;
            border-radius: 3px;
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
            border: solid 0.5px #e8e8e8;
            background-color: white;
            margin-left: 36px;
            margin-bottom: 20px;
            display: flex;
            .picture {
                width: 71px;
                height: 71px;
                border-radius: 7px;
                margin-top: 15px;
                margin-left: 11px;
            }
            .content {
                width: 178px;
                margin-top: 15px;
                margin-left: 8px;
                position: relative;
                .line-group {
                    position: absolute;
                    margin-top: -2.5px;
                    .line1 {
                        font-size: 15px;
                    }
                    .line2 {
                        font-size: 10px;
                        color: #989898;
                        margin-bottom: 3.5px;
                        .dot {
                            height: 2px;
                            width: 2px;
                            background-color: #989898;
                            border-radius: 50%;
                            display: inline-block;
                            margin-bottom: 1.1px;
                            margin-left: 9.1px;
                        }
                        .category {
                            margin-left: 9px;
                        }
                    }
                    .line3 {
                        font-size: 10px;
                        color: #989898;
                        margin-bottom: 3.5px;
                        .time {
                            margin-left: 4px;
                        }
                    }
                    .line4 {
                        font-size: 10px;
                        color: #989898;
                        .map {
                            margin-left: 7px;
                        }
                        .dot {
                            height: 2px;
                            width: 2px;
                            background-color: #989898;
                            border-radius: 50%;
                            display: inline-block;
                            margin-left: 5px;
                            margin-bottom: 2px;
                        }
                        .location {
                            margin-left: 5px;
                        }
                    }
                }
            }
            .add-fav {
                .add {
                    width: 46px;
                    height: 53px;
                    border-radius: 3px;
                    border: solid 0.5px #e8e8e8;
                }
                .fav {
                    width: 46px;
                    height: 53px;
                    border-radius: 3px;
                    border: solid 0.5px #e8e8e8;
                }
            }
        }
    }
}
