.signup {
    .head {
        height: 33vh;
        background-image: linear-gradient(to bottom, #ffebd1, #fcb7a0);
        display: flex;
        flex-direction: column;
        padding-top: 28px;
        align-items: center;
        justify-content: center;
        .Rectangle {
            max-width: 100px;
            max-height: 100px;
            width: 26.7%;
            height: 54.1%;
            border-radius: 50px;
            background-color: white;
        }
        .welcome {
            margin-top: 19px;
            font-size: 20px;
            color: white;
        }
    }
    .manage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box-user {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .icon-user {
                margin-bottom: 3px;
            }
        }
        .box-vector {
            margin-top: 35px;
            &.password {
                margin-top: 23px;
            }
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .icon-vector {
                margin-bottom: 6px;
            }
        }
        .input {
            color: #4f4f4f;
            outline: none;
            width: 172px;
            margin-left: 20px;
            padding: 0%;
            height: 20px;
            border: none;
            cursor: pointer;
        }
        .input::placeholder {
            color: #d8d8d8;
            font-size: 16px;
        }
        .line {
            margin-top: 3px;
            width: 210px;
            height: 2px;
            &.not-select {
                background-color: #e7e7e7;
            }
            &.select {
                background-image: linear-gradient(to top, #fcb7a0, #ffead0);
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.default {
            margin-top: 50px;
        }
        &.down {
            margin-top: 38px;
        }
        .submit {
            outline: none;
            border: none;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            width: 137px;
            height: 33px;
            border-radius: 7px;
            background-color: #f2b099;
            font-size: 16px;
            color: #ffffff;
            cursor: pointer;
        }
        .text-have-account {
            // position: absolute;
            font-size: 14px;
            color: #b0b0b0;
            margin-top: 19.5px;
            margin-bottom: 0px;
        }
        .sing-in {
            cursor: pointer;
            // position: absolute;
            margin-top: 4px;
            background-color: white;
            color: #f2b099;
            width: 93px;
            height: 29px;
            border-radius: 7px;
            border: solid 1px #f2b099;
        }
    }
    .dontMatch {
        margin-top: 2px;
        height: 10px;
        font-size: 8px;
        color: #ff6c38;
        align-self: flex-end;
        visibility: visible;
        &.match {
            visibility: hidden;
        }
        // &.show{
        //     display: none;
        // }
    }
    // .character{
    //     margin-top: 2px;
    //         height: 10px;
    //         font-size: 8px;
    //         color: #ff6c38;
    //         align-self: flex-end;
    //         &.notshow{
    //             display: none;
    //     }
    // }
}
