.open-hour {
  margin: 12px 0;
  .head {
    .options {
    }
  }
  .time {
    display: flex;
    justify-content: space-between;
  }
}

.ant-slider {
    margin-bottom: 0px;
  .ant-slider-handle {
    &.ant-slider-handle-1,
    &.ant-slider-handle-2 {
      top:6px;
      width: 9px;
      height: 9px;
      border: solid 1.5px #fcbba4;
    }
  }
  .ant-slider-rail {
    height: 3px;
    border-radius: 10px;
    background-color: #e7e7e7;
  }
  .ant-slider-track.ant-slider-track-1 {
    height: 3px;
    border-radius: 10px;
    background-color: #fcbba4;
  }
}
