@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    font-family: 'Lexend Deca', sans-serif;
}

code,
button,
input,
a {
    font-family: 'Lexend Deca', sans-serif;
}
