.serch {
  margin: 13px 37px 14px;
  position: relative;
  .input {
    height: 31px;
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.22);
    display: flex;
    flex-grow: 2;
    align-items: center;
    img {
      margin-left: 12px;
    }
    input {
      margin: auto 10px;
      background: transparent;
      width: 100%;
      font-size: 14px;
      // line-height: 17px;
      border: none;
      outline: none;
      color: #4f4f4f;

      &::placeholder {
        color: #b0b0b0;
      }
    }
  }

  .serch-box {
    margin: 17.1px auto;
    width: 267px;
    height: 219.9px;
    position: absolute;
    z-index: 100;
    padding: 17px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 7px rgb(151, 151, 151);

    &::before {
      content: "";
      top: -8px;
      left: 30px;
      width: 21px;
      height: 21px;
      background-color: #ffffff;
      position: absolute;
      transform: rotate(45deg);
      box-shadow: 1px 1px 7px rgb(151, 151, 151);
    }
    &::after {
      content: "";
      top: 0;
      left: 20px;
      width: 40px;
      height: 20px;
      position: absolute;
      background: #ffffff;
    }

    .serch-area {
      height: 100%;
      display: flex;
      flex-direction: column;
      .serch-category {
        font-size: 11px;
        color: #4f4f4f;
        border-bottom: 1px solid #e7e7e7;
        .serch-tag {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 10px;
          .tag{
            color:#fff;
            background-color: #fcbba4;
            border-radius: 5px;
            padding: 2px 7px;
            margin: 0 12px 12px 0;
          }
        }
      }
      .serch-history {
        display: block;
        margin:auto;
        font-size:20px;
        color: #dbdbdb;
      }
    }
  }
}
